In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi
df = pd.read_csv('addhealth_pds.csv',low_memory=False)
df

,AID,IMONTH,IDAY,IYEAR,SCID,SSCID,COMMID,MACNO,INTID,SCH_YR,...,SMP08,CLUSTER1,CLUSTER2,IMONTH2,IYEAR2,H2GI1M,H2GI1Y,finbd,finID,age
0,57100270,6,23,95,77,177,477,100186,901186,1,...,0,477,178,,,,,,,
1,57101310,5,5,95,7,7,407,100084,921084,1,...,0,407,108,4,96,11,76,11/15/1976,4/15/1996,19.427397260274
2,57103171,6,27,95,14,114,414,100143,927143,0,...,0,414,115,,,,,,,
3,57103869,7,14,95,66,166,466,100215,908215,0,...,0,466,167,6,96,1,76,1/15/1976,6/15/1996,20.4301369863014
4,57104553,7,14,95,41,141,441,100008,905008,1,...,0,441,142,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6499,99719930,7,18,95,106,6,406,100108,923108,0,...,0,406,207,7,96,4,82,4/15/1982,7/15/1996,14.2602739726027
6500,99719939,5,3,95,106,6,406,100096,923096,1,...,0,406,207,,,,,,,
6501,99719970,7,11,95,109,9,409,100297,914297,0,...,0,409,210,5,96,4,81,4/15/1981,5/15/1996,15.0931506849315
6502,99719976,6,26,95,109,9,409,100286,914286,0,...,0,409,210,6,96,12,80,12/15/1980,6/15/1996,15.5095890410959
6503,99719978,6,4,95,109,9,409,100286,914286,1,...,0,409,210,,,,,,,

In [2]:
subset = df[(df['H1TO13']==1) & (df['H1GI6A']==1) | (df['H1GI6C']==1)]
subset1 = subset.copy()
subset1

,AID,IMONTH,IDAY,IYEAR,SCID,SSCID,COMMID,MACNO,INTID,SCH_YR,...,SMP08,CLUSTER1,CLUSTER2,IMONTH2,IYEAR2,H2GI1M,H2GI1Y,finbd,finID,age
7,57109625,6,7,95,123,23,423,100238,910238,1,...,0,423,224,5,96,3,81,3/15/1981,5/15/1996,15.1780821917808
19,57120371,7,20,95,60,160,460,100198,933198,0,...,0,460,161,,,,,,,
20,57121404,6,8,95,86,186,445,100039,900039,0,...,0,445,187,6,96,7,79,7/15/1979,6/15/1996,16.9315068493151
27,57131432,6,3,95,44,144,444,100170,928170,0,...,0,444,145,7,96,1,79,1/15/1979,7/15/1996,17.5095890410959
35,57138056,7,14,95,139,39,439,100246,911246,1,...,0,439,240,5,96,10,81,10/15/1981,5/15/1996,14.5917808219178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6465,99717911,8,2,95,194,94,463,100210,910210,0,...,0,463,295,4,96,9,80,9/15/1980,4/15/1996,15.5917808219178
6467,99717916,8,15,95,194,94,463,100209,910208,0,...,0,463,295,,,,,,,
6475,99718041,8,2,95,158,58,458,100479,815479,0,...,1,458,259,7,96,3,81,3/15/1981,7/15/1996,15.3452054794521
6501,99719970,7,11,95,109,9,409,100297,914297,0,...,0,409,210,5,96,4,81,4/15/1981,5/15/1996,15.0931506849315
6503,99719978,6,4,95,109,9,409,100286,914286,1,...,0,409,210,,,,,,,

In [3]:
subset1['H1TO16'] = subset['H1TO16'].replace([96,97,98,99],np.NaN)
subset1['H1RR1'] = subset['H1RR1'].replace([6,8,9],np.NaN)
subset1['H1GI6A'] = subset['H1GI6A'].replace([6,8],np.NaN)
subset1['H1GI6C'] = subset['H1GI6C'].replace([6,8],np.NaN)
subset1['H1TO13'] = subset['H1TO13'].replace([7,8],np.NaN)

In [4]:
sub1 = subset1[['H1TO16','H1RR1']].dropna()

In [5]:
model1 = smf.ols(formula='H1TO16 ~ C(H1RR1)',data=sub1)
res1 = model1.fit()
print(res1.summary())


print('Means for drink quantity for past 12 months by special romantic relationship status')
m1 = sub1.groupby('H1RR1').mean()
print(m1)

print('Standard Deviation for drink quantity for past 12 months by special romantic relationship status')
s1 = sub1.groupby('H1RR1').std()
print(s1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 H1TO16   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     3.016
Date:                Mon, 22 Jun 2020   Prob (F-statistic):             0.0826
Time:                        13:06:54   Log-Likelihood:                -6016.7
No. Observations:                1781   AIC:                         1.204e+04
Df Residuals:                    1779   BIC:                         1.205e+04
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           5.6732      0.331     17.122      0.000       5.023       6.323
C(H1RR1)[T.1.0]     0.6679      0.385      1.737      0.083      -0.086       1.422
==============================================================================
Omnibus:                     1825.140   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           122332.338
Skew:                           4.919   Prob(JB):                         0.00
Kurtosis:                      42.392   Cond. No.                         3.71
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Means for drink quantity for past 12 months by special romantic relationship status
         H1TO16
H1RR1
0.0    5.673203
1.0    6.341150
Standard Deviation for drink quantity for past 12 months by special romantic relationship status
         H1TO16
H1RR1
0.0    6.353657
1.0    7.339457

In [6]:
subset1['H1TO15'] = subset1['H1TO15'].replace([7,96,97,98],np.NaN)
subset1['H1TO15']

7       5.0
19      6.0
20      5.0
27      NaN
35      4.0
       ...
6465    5.0
6467    6.0
6475    5.0
6501    5.0
6503    2.0
Name: H1TO15, Length: 2051, dtype: float64

In [7]:
sub2 = subset1[['H1TO16','H1TO15']].dropna()
sub2

      H1TO16  H1TO15
7        3.0     5.0
19       2.0     6.0
20       4.0     5.0
35       6.0     4.0
42       7.0     3.0
...      ...     ...
6465     3.0     5.0
6467     1.0     6.0
6475     4.0     5.0
6501     5.0     5.0
6503     5.0     2.0

[1783 rows x 2 columns]

In [9]:
model2 = smf.ols(formula='H1TO16 ~ C(H1TO15)',data=sub2).fit()
print(model2.summary())

print("Means for drinking quantity by frequency of drinks on days status")
m2 = sub2.groupby('H1TO15').mean()
print(m2)

print("Standard deviation for drinking quantity by frequency of drinks on days status")
s2 = sub2.groupby('H1TO15').std()
print(s2)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 H1TO16   R-squared:                       0.072
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     27.63
Date:                Mon, 22 Jun 2020   Prob (F-statistic):           5.09e-27
Time:                        13:13:24   Log-Likelihood:                -5960.5
No. Observations:                1783   AIC:                         1.193e+04
Df Residuals:                    1777   BIC:                         1.197e+04
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           10.2759      1.274      8.067      0.000       7.777      12.774
C(H1TO15)[T.2.0]    -2.0159      1.447     -1.393      0.164      -4.854       0.822
C(H1TO15)[T.3.0]    -1.4198      1.344     -1.057      0.291      -4.055       1.216
C(H1TO15)[T.4.0]    -2.9832      1.323     -2.255      0.024      -5.578      -0.388
C(H1TO15)[T.5.0]    -4.3242      1.311     -3.299      0.001      -6.895      -1.754
C(H1TO15)[T.6.0]    -6.5710      1.308     -5.023      0.000      -9.137      -4.005
==============================================================================
Omnibus:                     1836.365   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           128139.038
Skew:                           4.944   Prob(JB):                         0.00
Kurtosis:                      43.337   Cond. No.                         21.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Means for drinking quantity by frequency of drinks on days status
           H1TO16
H1TO15
1.0     10.275862
2.0      8.260000
3.0      8.856031
4.0      7.292683
5.0      5.951613
6.0      3.704887
Standard deviation for drinking quantity by frequency of drinks on days status
           H1TO16
H1TO15
1.0      9.471372
2.0      5.575234
3.0     10.759384
4.0      8.169467
5.0      5.886612
6.0      3.549135

In [10]:
mc1 = multi.MultiComparison(sub2['H1TO16'],sub2['H1TO15']).tukeyhsd()
print(mc1.summary())

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
   1.0    2.0  -2.0159 0.7043  -6.1434  2.1117  False
   1.0    3.0  -1.4198 0.8986  -5.2535  2.4139  False
   1.0    4.0  -2.9832 0.2134  -6.7574   0.791  False
   1.0    5.0  -4.3242 0.0127  -8.0631 -0.5854   True
   1.0    6.0   -6.571  0.001 -10.3028 -2.8391   True
   2.0    3.0    0.596    0.9  -1.7105  2.9026  False
   2.0    4.0  -0.9673 0.7865  -3.1737   1.239  False
   2.0    5.0  -2.3084 0.0264  -4.4537 -0.1631   True
   2.0    6.0  -4.5551  0.001  -6.6882 -2.4221   True
   3.0    4.0  -1.5633 0.0572  -3.1534  0.0267  False
   3.0    5.0  -2.9044  0.001  -4.4086 -1.4003   True
   3.0    6.0  -5.1511  0.001  -6.6378 -3.6645   True
   4.0    5.0  -1.3411 0.0513  -2.6865  0.0043  False
   4.0    6.0  -3.5878  0.001  -4.9136  -2.262   True
   5.0    6.0  -2.2467  0.001  -3.4682 -1.0252   True
-----------------------------------------------------